@charset "UTF-8";
body {
	/* Old Browsers */
	background: #808080;
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #808080 0%, #808080 115px, #000 115px, #000 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #808080 0%, #808080 115px, #000 115px, #000 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #808080 0%, #808080 115px, #000 115px, #000 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080), color-stop(0.15, #808080), color-stop(.15, #000), color-stop(1, #000));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #808080 0%, #808080 115px, #000 115px, #000 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #808080 0%, #808080 115px, #000 115px, #000 100%);
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
h3 {
	font-size: 14px;
	font-style: bold;
}
h4 {
	font-size: 12px;
	color: #9CD572;
	font-style: italic;
}
h5 {
	font-size: 10px;
	font-style:: bold;
}
p {
	font-size:11px;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 80%;
	max-width: 1150px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 780px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background: #808080;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	padding-top: 20px;
	padding-left: 20px;
}
#logo {
	width: 350px;
	height: auto;
}
#branding {
	float: right;
	padding-top: 12px;
	padding-right: 15px; 
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	padding: 10px 0;
	-moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
	background: #FFF;
	height: 700px;
}

#nav {
	text-align: justify;
    height: 40px;
}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#nav li {
	-moz-border-radius-topleft: 13px;
    -webkit-border-top-left-radius: 13px;
    -moz-border-radius-topright: 13px;
    -webkit-border-top-right-radius: 13px;
	background: #FFF;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	white-space: nowrap;
	width: 16%;
}
#nav a {
	text-decoration: none;	
}
#nav a li:hover {
	color: #4A5A67;
	background: #c3e5aa;
}
#curnav li{
	color: #FFF;
	background: #9CD572;
}
#subnav {
	font-family: Verdana, Geneva, sans-serif;
	width: 140px;
	display: block;
	float: left;
}
#subnav a {
	text-decoration: none;	
	font-size: 12px;
}
#cursubnav{
	color: #9CD572;
}

#menunav {
	width: 18%;
	height: 140px;
	float: left;
	margin-right: 10px;
	background: -moz-linear-gradient(top, rgba(233,233,233,0.3) 0%, rgba(211,211,211,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,0.3)), color-stop(100%,rgba(211,211,211,0.8)));
	background: -webkit-linear-gradient(top, rgba(233,233,233,0.3) 0%,rgba(211,211,211,0.8) 100%);
	background: -o-linear-gradient(top, rgba(233,233,233,0.3) 0%,rgba(211,211,211,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(233,233,233,0.3) 0%,rgba(211,211,211,0.8) 100%);
	background: linear-gradient(to bottom, rgba(233,233,233,0.3) 0%,rgba(211,211,211,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e9e9e9', endColorstr='#d3d3d3',GradientType=0 );
	-moz-border-radius-bottomleft: 13px;
    -webkit-border-bottom-left-radius: 13px;
    -moz-border-radius-bottomright: 13px;
    -webkit-border-bottom-right-radius: 13px;
	-moz-border-radius-topleft: 13px;
    -webkit-border-top-left-radius: 13px;
    -moz-border-radius-topright: 13px;
    -webkit-border-top-right-radius: 13px;
}
#menunavname {
	text-align: center;
	vertical-align: top;
	margin-top: 0;
}
#menunavphoto img {
	position: relative;
	padding-left: 5%;
	width: 90%;
}

.maincontent{
	margin-left: 180px;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}

#reflectimage {  
    background: -moz-element(#reflected-element)
              bottom left no-repeat;

  /* ... turned upside down ... */
  	-moz-transform: scaleY(-1);
  
  /* ... with a gradual fade-out effect towards the bottom. */
  	mask: url(#reflection-mask);  
}

.homepagecontent {
	padding: 10px;	
}

.slideshow {
	width: 100%;
	position: relative;
	heigth: auto;
	overflow: hidden;
}

.slideshow img {
    width: 100%;
    heigth: auto;
    display: none;
}

.homemenunav {
	position: absolute;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
