@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #999;
	font-family: "Century Gothic",Muli,"Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
}
a img {
	border: none;
}

a:link {
	color:inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 100%;
	max-width: 480px;
	min-width: 320px;
	background-color: #FFF;
	margin: 0 auto;
}

.topSection {
	width: 100%;
	max-width:480px;
	padding: 29% 0 16.6% 0;
	box-sizing: border-box;
	position: relative;
	
	background-image:url(Photos/topBackground.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.absolute {
	position: absolute;
}
.header {
	width: 63%;
	margin: 0 0 0 24%;
}
/* The KenKou with logo image at the top of the page */
#logo {	
	float: left;
	width: 100%;
	display:block;
}
/* Image that contains the eat well motto at the top of the page */
#motto {
	float: left;
	width: 74%;
	padding: 5px 0 0 25%;
}

/* ~~ This is the layout information. ~~ */
.topContent {
	text-indent: 5%
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.topContent ul, .topContent ol { 
	padding: 0 15px 15px 40px;
}

.firstTransition {
	width: 100%;
}

.menuSection {
	width: 100%;
	background: #82be42;
	padding-bottom: 5%;
}
#menuHeader {
	color: #FFF;
	font-family: "Segoe Script", "Merienda One", Helvetica, sans-serif;
	font-size: 1.6rem;
	text-align: center;
}
/* Menu type i.e. Sushi, Salad */
.objectCover {
	background: #FFF;
	margin: 5% 5% 0 5%;
	
	border-radius: 15px;
	border: 1px solid #82be42;
}
#menuTitle {
	color: #82be42;
	font-family: "Segoe Script", "Merienda One", Helvetica, sans-serif;
	font-size: 1.4rem;
	text-align: center;
	width: 91%;
	margin-left:8.15%;
}

#linkIcon {
	float:right;
	width: 28px;
	padding-top: 2px;
}

.menuItem {
	border: 1px solid #82be42;
	border-style: solid none none none;
	padding: 5%;
	width: 91%;
}
.menuPhotoSideRight {
	width: 30%;
	height: auto;
	float: right;
	padding:0 3%;
}
.menuPhotoSideLeft {
	width: 30%;
	height: auto;
	float: left;
	padding: 0 5% 3% 0;
}
.menuItem img {
	/* outer shadow */
	-moz-box-shadow: 0 0 3px 3px #82be42;
	-webkit-box-shadow: 0 0 3px 3px #82be42;
	box-shadow: 0 0 3px 3px #82be42;
}
.menuItemAboutLeft {
	width:55%;
	margin: 0 5% 0 0;
}
.menuItemAboutRight {
	width:55%;
	margin: 0 10% 0 35%;
}
#menuItemName {
	width:100%;
	font-family: 'Nunito', sans-serif;
	font-size: 0.9rem;
}
#menuPrice {
	width:25%;
	padding-left: 65%;
	font-family: 'Nunito', sans-serif;
	font-size: 0.8rem;
	color: #82be42;
}
/*#menuCals {
	width: 25%;
	padding-left: 2.5%;
	font-size: 0.8rem: 
	font-weight: bold;
	color: #82be42;
}*/
#menuDescription {
	width: 100%;
	font-size: 0.7rem;
	font-family: "Century Gothic",Muli,"Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
}

.contactSection {
	width: 100%;
	background-image: url(Photos/contactBackground.png);
	padding-bottom: 1%;
}
#contactHeader {
	color: #82be42;
	font-family: "Segoe Script", "Merienda One", Helvetica, sans-serif;
	font-size: 1.6rem;
	text-align: center;
}

.fontGreenItalic {
	font-size: 1rem;
	color: #82be42;
	font-style: italic;
	font-weight:bold;
}














.menu {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	line-height:70px;
	background:#c6e1a8;
	text-align:center;
	height:auto;
	width:auto;
	font-weight:500;
	z-index:999;
	border:none;
	font-size:24px;
	color:#414958;
}

.menu-logo {
	display:none;
	position:absolute;
	left:25px;
	height:100%
}

.desktop {
	display:block;
	position:absolute;
	right:0;
	height:50px;
	top:auto;
	font-size:14px;
	color:#ffffde;
	font-weight:700;
	bottom:25px;
	text-align:center;
	left:0;
	line-height:50px;
	font-size: 15px;
}

.mobile-hide {
			display:none
}

.menu-items {
	display:inline-block;
	vertical-align:middle;
	line-height:80px;
	width:100%;
	text-align:center;
	padding:0;
	margin:40px 0 0 0;
	list-style-type:none
}

.menu-item {
	display:block;
	height:70px
}

.menu-item a {
	transition:color 180ms;
	height:100%;
	display:block;
	width:100%;
}
.menu.menu-is-open {
	display:block
}

.menu-item a:hover {
	transition:color 50ms;
	color:#d94362
}

.menu-separator {
	display:none;
	color:#4f3043;
	margin-left:25px;
	margin-right:25px;
	visibility:hidden;
	margin-right:25px;
	margin-left:25px
}

.menu-button {
	visibility:inherit;
	display:block;
	position:fixed;
	width:50px;
	height:50px;
	background:#372d3b;
	top:10px;
	left:10px;
	z-index:9999;
	transition:transform 50ms
}


.menu-button:active {
	transform:scale(0.8, 0.8)
}

.menu-icon {
	background:#e0e0e0;
	width:31px;
	height:5px;
	transition:transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	position:absolute;
	left:10px
}

.menu-icon {
	top:23px
}

.menu-icon:nth-child(2) {
	top:11px;
	transform-origin:0 100%
}

.menu-icon:nth-child(3) {
	top:35px;
	transform-origin:0 0
}

.menu-button.menu-is-open .menu-icon:nth-child(1) {
	transform:scale(0.01, 1)
}

.menu-button.menu-is-open .menu-icon:nth-child(2) {
	transform:translate(2px, 0) rotate(45deg)
}

.menu-button.menu-is-open .menu-icon:nth-child(3) {
	transform:translate(2px, 0) rotate(-45deg)
}